/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.index_img {
  /* max-width: 150px; */
  max-width: 80%;
  max-height: 200px;
}

 .index_container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
 }

 .index_tile {
   width: 20%;
   margin: 5px;
   padding: 15px;
   background: lightgray;
   border-radius: 25px;
   text-align: center;
 }

.show-container {
  width: 90%;
  border-radius: 25px;
  padding: 25px;
  margin: auto;
  background-color: lightgrey;
}

.show-img {
  max-width: 25%;
  max-height: 200px;
  padding: 15px;
  border-radius: 25px;
}