<h1>New Review</h1>


<form action="/reviews" method="POST">
  <input type="text" name="content" placeholder='enter content'>
  <input type="number" name="rating" placeholder='enter number'>
  <select name="movie_id">
    <% Movie.all.each do |movie| %>
      <option value="<%= movie.id %>"><%= movie.title %></option>
    <% end %>
  </select>
  <input type="submit">  
</form>